html {
  font-family: "Quicksand", sans-serif;
}

body {
  margin: 0;
}

button {
  font: inherit;
  background: #2e799e;
  border: 1px solid #2e799e;
  color: white;
  cursor: pointer;  
  width: 200px;
  height:50px;
}

<style>
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

</style>

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #8BB2C4;
  border-color: #8BB2C4;
}

control-center {
  border: 2px solid #ccc;
  margin: 5rem;
  padding: 2rem;
}
