html {
  font-family: "Quicksand", sans-serif;
}

body {
  width: 500px;
  marign-left: auto;
  margin-right: auto;
}

button {
  font: inherit;
  background: #2e799e;
  border: 1px solid #2e799e;
  color: white;
  cursor: pointer;  
  width: 200px;
  height:50px;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #8BB2C4;
  border-color: #8BB2C4;
}
